body {
    color: white;
    background: #212529;
}

.main {
    margin-top: 58px;
    margin-bottom: 58px;
}

.main-kat {
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: larger;
}

.subkat {
    padding-left: 5px;
    padding-right: 5px;
}

.subkat.bg {
    border-bottom: 1px solid #33A;
    --bs-gutter-x: 0px !important;
    font-size: medium;
    background: #003;
}

nav.fixed-bottom {
    border-top: 1px solid #444;
}

nav.fixed-top {
    border-bottom: 1px solid #444;
}

a, u {
    color: white;
    text-decoration: none;
}