<nav class="navbar fixed-top navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">BUDGIT!!!</a>
    </div>
</nav>
<div>
    <h1>Sub-Kategorie für
        {{category.name}}
        anlegen</h1>
</div>
<form action="/add_subcat" method="POST">
    <input type="hidden" name="id" value="{{category.id}}">
    <div class="bg-dark d-grid gap-2">
        <input class="mx-1 row" name="name" placeholder="Name" type="text">
        <input class="btn btn-primary" type="submit" value="Erstellen">
    </div>
</form>