<nav class="navbar fixed-top navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">BUDGIT!!!</a>
    </div>
</nav>
<div>
    <h1>Kategorie anlegen</h1>
</div>
<form action="/add_maincat" method="POST">
    <div class="bg-dark d-grid gap-2">
        <input class="mx-1 row" name="name" placeholder="Name" type="text">
        <input class="btn btn-primary" type="submit" value="Erstellen">
    </div>
</form>