<div class="col">
{% for c in categories %}
    <div class="main-kat">
    {{c.name}}
    {% for s in c.sc %}
        <div class="sub-kat">
        {{s.name}}
        </div>
    {% endfor %}
    </div>
{% endfor %}
</div>